body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Services */ 

.service-card:hover {
  background-color: #efefef;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}


/* Portfolio */

.project-card:hover {
  background-color: #efefef;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project-card button:hover {
  background-color: #0056b3;
}


/* Contact  */ 

button:hover {
   background-color: #0056b3;
   transition: 0.3s;
}

form input, form textarea {
  border-radius: 0.25rem;
}


